# {{title}}

{{#semantic_description}}
## Description

{{semantic_description}}
{{/semantic_description}}

{{#constraints}}
## Constraints

- {{.}}
{{/constraints}}

{{#sections}}
## {{name}}

{{content}}

{{/sections}}

{{#provenance}}
---
_Provenance: {{.}}_
{{/provenance}}
